arrowParens: avoid
bracketSpacing: false
semi: false
singleQuote: true
trailingComma: none
overrides:
- files: '**/*.svelte'
  options:
    plugins: [prettier-plugin-svelte]
    htmlWhitespaceSensitivity: strict
